---
import { twMerge } from "tailwind-merge";

const _class = Astro.props.class;
const {...props} = Astro.props;

---

<button class={twMerge(["px-6 py-1.5 bg-white text-black rounded-full font-semibold text-base hover:brightness-90", _class])} {...props}>
    <slot/>
</button>