---
import Container from "./container.astro";
import Button from "./button.astro";
import {HamburgerMenuIcon} from "@radix-ui/react-icons";
---

<div class="text-white w-full">
    <Container class:list={["h-[90px] flex items-center justify-between"]}>
        <img class="h-16 object-fill" src="/logo.png" alt="">
        <nav class="hidden gap-10 items-center text-sm font-medium md:flex">
            <a href="/">Inicio</a>
            <a href="/">Empresa</a>
            <a href="/">Contacto</a>
            <a href="http://tienda.carnicasdmarca.com" target="_blank" rel="noopener noreferrer">
                <Button class:list={["bg-red-600 text-white font-bold text-sm hover:brightness-110"]}>
                    Tienda
                </Button>
            </a>
        </nav>
        <button class="p-3 md:hidden ">
            <HamburgerMenuIcon width="23px" height={"23px"}/>
        </button>
    </Container>
</div>